<header style="background: #f4f4f4; padding: 10px; border-bottom: 2px solid #ccc;">
    <h2>Games</h2>
    <nav>
        <a href="/">home</a> | 
        <a href="/brawlers">Brawlstars</a>
    </nav>
</header>