
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="position: sticky; top: 0; z-index: 1000; background: #fff;">
        <%- include('partials/header') %>
    </div>
    <h1>hello world</h1>
    <img
      src="https://preview.redd.it/act-3-spoilers-skarrsinger-karmelita-was-such-an-incredible-v0-w2z7te4eo0of1.jpeg?auto=webp&s=aa593003d8741117d798f9f616efb93b3fe6bcef"
      width="300"
    />
    <a href="https://www.roblox.com/">open roblox here</a>
    <h1>YouTube is like this</h1>
    <img
    src="https://cdn.mos.cms.futurecdn.net/v2/t:0,l:280,cw:720,ch:720,q:80,w:720/WUdnquJWWuu73Mbt6Ek3KW.jpg"
    width="300"
    />
    <a
    href="https://www.google.com/search?q=youtube&oq=youtube&gs_lcrp=EgZjaHJvbWUqBwgAEAAYjwIyBwgAEAAYjwIyBwgBEC4YgAQyBwgCEAAYgAQyBwgDEAAYgAQyBwgEEAAYgAQyBwgFEAAYgAQyBwgGEC4YgAQyBwgHEAAYgAQyBwgIEAAYgAQyBwgJEAAYjwLSAQk0Njc2ajBqMTWoAgiwAgE&sourceid=chrome&ie=UTF-8"
    >open youtube here</a
    >+
    <p></p>
    <a
    href="https://www.google.com/search?q=wikipedia&oq=wikipedia&gs_lcrp=EgZjaHJvbWUyCQgAEEUYORiABDIHCAEQABiABDIHCAIQABiABDIHCAMQABiABDIHCAQQABiABDIHCAUQABiABDIHCAYQABiABDIHCAcQABiABDIHCAgQABiABDIHCAkQABiPAtIBCTUwMDNqMGoxNagCCLACAQ&sourceid=chrome&ie=UTF-8"
    >open wikipedia here</a
    >
<a href="/send">
  <button style="background-color: rgb(9, 136, 227)">send</button>
</a>
</body>
</html>

