
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrawlWeb</title>
  </head>
  <body>
    <div style="position: sticky; top: 0; z-index: 1000; background: #fff;">
        <%- include('partials/header') %>
    </div>
    <h1>Hi , this is my website.</h1>
    
<a href="/brawlers">
  <button style="background-color: rgb(9, 136, 227)">Brawlers</button>
</a>
</body>
</html>

