<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="position: sticky; top: 0; z-index: 1000; background: #fff;">
        <%- include('partials/header') %>
    </div>
    <h1>free robux here-></h1>
    <a href="https://youtu.be/dQw4w9WgXcQ?si=2tlYQ1RODnwrRmQ8">->></a>
    <ol>
      <li>brawl stars</li>
      <li>minecraft</li>
    </ol>
    <h3>My Favorite Video</h3>

    <ol>
      <li>gd
      <br>  <img src="https://i.redd.it/x0u974881iob1.jpg"width="200">
        <a href="https://geometrylitepc.io/"target="_blank">cool game ,right?</a>
      </li>
      <li>silksong
      <br>  <img src="https://cdn.wikimg.net/en/hkwiki/images/1/13/Silksong_cover.jpg"width="200">
        <a href="https://store.steampowered.com/app/1030300/Hollow_Knight_Silksong/"target="_blank">cool game ,right?</a>
      </li>
      <li>brawl stars
       <br> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToDlytiE178sfY8uXNj7aIesE2rM7gGOwjFCmb9VVEWJ7JAoUDaNYQZxuRG5iFNXAxvJRJAA&s=10"width="200">
        <a href="https://supercell.com/en/games/brawlstars/"target="_blank">cool game ,right?</a>
      </li>
      <li>hollow knight
      <br>  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlX0XzMgaLleJG-WgAUDUhTrLav5Mcr9BaSZSvE0DfbAPXEsr5wESN_lnk0o4SF_Tj_kZJ&s=10"width="200">
        <a href="https://store.steampowered.com/app/367520/Hollow_Knight/"target="_blank">cool game ,right?</a>
      </li>
      <li>msm
       <br> 
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1pvlUzO8J0JGWCcMFGB6_p1r5X3bztKNTgBMtGpDRamcV-G530BVAHEKuYL-aOdeyJ8se&s=10"width="200">
        <a href="https://store.steampowered.com/app/1419170/My_Singing_Monsters/"target="_blank">cool game ,right?</a>
      </li>
    </ol>
    <img
      src=""
      width="200"
    />
    <a href="https://www.myinstants.com/en/index/ua/">cool</a>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/NzR03IdbmE0"
      title="YouTube video player"
      frameborder="0"
      allow="
        accelerometer;
        autoplay;
        clipboard-write;
        encrypted-media;
        gyroscope;
        picture-in-picture;
      "
      allowfullscreen
    >
    </iframe>

    <p>This video is cool, right?</p>
    <a href="/">
      <button style="background-color: rgb(208, 83, 10)">back push</button>
    </a>
  </body>
</html>
