/* Оновлений стиль для фону сторінки */
body {
    font-family: 'Arial Black', Impact, sans-serif;
    background-color: #3b3b98; /* Темно-синій базовий колір (якщо картинка не завантажиться) */
    
    /* Додаємо фонове зображення */
    background-image: url('https://i.redd.it/all-loading-screens-coming-in-this-update-v0-m7si1wq0yh5c1.jpg?width=1848&format=pjpg&auto=webp&s=2a96caf48f5865967c213198067701953d6e002a'); 
    
    /* Налаштування для того, щоб фон повторювався і заповнював весь екран */
    background-repeat: repeat; 
    background-position: center;
    
    margin: 0;
    color: #2f3542;
}

/* Стиль шапки сайту (кольори меню гри) */
header {
    background-color: #000000; /* Синій */
    padding: 15px 20px;
    border-bottom: 5px solid #000000;
    display: flex;
    align-items: center;
}

header h2 {
    margin: 0;
    color: #fbc531; /* Жовтий текст */
    text-shadow: 2px 2px 0 #000; /* Чорна обводка для мультяшності */
    margin-right: 30px;
    letter-spacing: 1px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 15px;
    text-shadow: 1px 1px 0 #000;
}

header a:hover {
    color: #fbc531;
}

/* Спільний контейнер для центрування контенту */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* Картка Бравлера з товстими рамками */
.brawler-card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 4px solid #000000; 
    box-shadow: 5px 5px 0 #000000; /* Жорстка тінь */
    display: flex;
    align-items: center;
}

.brawler-card img {
    border-radius: 10px;
    border: 3px solid #2f3542;
    margin-right: 20px;
}

.brawler-card h2 {
    margin-top: 0;
    color: #c23616; /* Червоний заголовок */
    text-transform: uppercase;
}
.highlight-blue {
    color: #1e3799;
    text-shadow: 2px 2px 0px #fff;
}